.comment {
    padding-top: 24px;
    border-top: 1px solid $gray-300;

    &__title {
        letter-spacing: 0.4px;
        margin-bottom: 13px;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 10px;

        &__panel {
            background: #fff;
            flex: 1;
            border-radius: 4px;
            padding: 0 30px;

            &.active {
                box-shadow: 0px 2px 30px rgba(31, 37, 57, 0.15);
    
                // .comment__item__form {
                //     opacity: 1;
                //     max-height: 1000px;
                // }
            }
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 29px 0 18px;
        }
    }

    &__item__answer {
        padding-left: 30px;
        position: relative;
        margin-top: 10px;

        .arrow-left-top {
            position: absolute;
            left: 9px;
            top: 0;
        }
    }

    &__user {
        flex: 1;
        display: flex;
        min-width: 0;
    }

    &__user__ava {
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__user__data {
        width: calc(100% -64px);
        overflow: hidden;
    }

    &__user__name {
        font-size: 17px;
        line-height: 24px;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            text-decoration: none;
            color: $gray-850;
            transition: color 0.25s ease-in-out;

            &:hover {
                color: $blue;
            }
        }
    }

    &__date {
        font-size: 14px;
        line-height: 19px;
        color: $gray-650;
    }

    &__item__action {
        display: flex;
        align-items: flex-start;
    }

    &__item__reply {
        width: auto;
        height: auto;
        padding: 0;
        background: transparent;
        font-family: $poppins;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: $gray-650;
        text-transform: none;
        transition: color 0.25s ease-in-out;

        svg {
            margin-right: 8px;
        }

        .corner-left-up {
            fill: $gray-650;
            transition: 0.25s ease-in-out;
        }

        .icon-edit {
            font-size: 20px;
            margin-left: 14px;
            display: inline-block;
            margin-top: 2px;
            transition: 0.25s ease-in-out;
            &:hover {
                color: $blue;
            }
        }

        .icon-trash {
            font-size: 18px;
            // transform: translateY(-1px);
            display: inline-block;
            margin-top: 1px;
            margin-left: 10px;
            transition: 0.25s ease-in-out;
            &:hover {
                color: $blue;
            }
        }

        &:hover {
            color: $gray-850;

            .corner-left-up {
                fill: $blue;
            }
        }
    }

    &__item__body {
        font-size: 15px;
        line-height: 22px;
        color: $gray-650;
        padding: 2px 0 24px;
    }

    &__item__form {
        border-top: 1px solid $gray-300;
        margin: -5px -30px 0;
        padding: 30px;
        // opacity: 0;
        transition: 0.4s ease-in-out;
        // max-height: 0;
        // display: none;

        .form-group {
            margin-bottom: 10px;
        }
    }

    &__item__field {
        display: block;
        resize: none;
        width: 100%;
        height: 76px;
        border-radius: 6px;
        border: 1px solid $gray-550;
        padding: 13px 20px;
        font-size: 15px;
        line-height: 18px;
        box-shadow: none;
        outline: none;
        color: $gray-850;
        transition: border-color 0.25s ease-in-out;

        &:focus {
            box-shadow: none;
            outline: none;
            border-color: $blue;
        }
    }

    &__item__form__action {
        display: flex;
        margin: 0 -5px;

        .btn {
            margin: 0 5px;
        }

        .btn-secondary {
            width: 180px;
        }

        .btn-primary {
            flex: 1;
        }
    }

}

.comment-form {
    padding-top: 23px;
    padding-bottom: 57px;

    &__container {
        max-width: 644px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 18px;
    }

    &__field {
        display: block;
        width: 100%;
        height: 170px;
        border-radius: 6px;
        border: 1px solid $gray-300;
        resize: none;
        padding: 20px;
        font-size: 15px;
        line-height: 18px;
        box-shadow: none;
        outline: none;
        background: transparent;
        transition: border-color 0.25s ease-in-out;

        &:focus {
            border-color: $blue;
            box-shadow: none;
            outline: none;
        }
    }
}

@media (max-width: 991px) {
    .comment {
        border: none;
        padding-top: 0;
        padding-bottom: 8px;
    }

    .comment__item__answer .arrow-left-top {
        left: 4px;
    }

    .comment-form {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {
    
    .comment {
        border-top: 1px solid $gray-300;
        margin: 0 -20px;
        padding: 25px 20px 0;
    }

    .comment__title {
        font-size: 14px;
        line-height: 21px;
    }

    .comment__list {
        margin-bottom: 27px;
    }

    .comment__item__panel {
        padding: 0;
        background: transparent;
    }

    .comment__item.active {
        box-shadow: none;
    }

    .comment__item__header {
        padding: 6px 0 0;
    }

    .comment__user__ava {
        width: 30px;
        height: 30px;
        margin-right: 14px;
    }

    .comment__user__data {
        width: calc(100% - 44px)
    }

    .comment__user__name {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.7px;
        padding-right: 5px;
    }

    .comment__date {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.5px;
    }

    .comment__item__reply {
        font-size: 12px;
        color: $blue;
        display: block;
        letter-spacing: 0;
        margin-top: -3px;
    }

    .comment__item__reply svg {
        display: none;
    }

    .comment__item__body {
        font-size: 10px;
        line-height: 18px;
        padding: 13px 0 14px;
    }

    .comment__item__form {
        margin: 0 -20px 27px;
        padding: 0 20px;
        border: none;
    }

    .comment__item__field {
        font-size: 13px;
        line-height: 18px;
        border-color: $blue;
        height: 65px;
        background: transparent;
    }

    .comment__item__form .form-group {
        position: relative;

        &:before {
            content: '';
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            border-bottom: 5px solid #5568fe;
            position: absolute;
            top: -5px;
            right: 11px;
            z-index: 1;
        }

        &:after {
            content: '';
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 5px solid #f5f7fb;
            position: absolute;
            top: -4px;
            right: 12px;
            z-index: 2;
        }
    }

    .comment__item__form__action {
        justify-content: flex-end;
    }

    .comment__item__form__action .btn-secondary {
        width: 89px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }

    .comment__item__form__action .btn-primary {
        width: 89px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        flex: 0 0 auto;
    }

    .comment__item__answer {
        margin-top: 0;
    }

    .comment__item__answer .arrow-left-top {
        display: none;
    }

    .comment__item__answer .comment__item__panel {
        border-left: 1px solid #D4D8E0;
        border-radius: 0;
        margin-left: 0px;
        padding-left: 14px;
        margin-bottom: 15px;
    }

    .comment__item__answer .comment__item__header {
        padding: 0;
    }

    .comment__item__answer .comment__item__body {
        padding-bottom: 0;
    }

    .comment-form__field {
        height: 90px;
        padding: 13px 20px;
        font-size: 13px;
        border-color: $blue;
    }
}

@media (max-width: 359px) {

    .comment__item__field {
        font-size: 10px;
        line-height: 18px;
    }

    .comment__item__form__action .btn-primary, 
    .comment__item__form__action .btn-secondary {
        width: 80px;
        height: 30px;
        line-height: 30px;
        font-size: 10px;
    }

    .comment-form .form-group {
        margin-bottom: 10px;
    }

    .comment-form__field {
        height: 80px;
        font-size: 10px;
        line-height: 18px;
    }

    .comment-form .btn {
        height: 40px;
        line-height: 40px;
        font-size: 10px;
    }
}